[submodule "hello_icicle_auth_clients"]
	path = hello_icicle_auth_clients
	url = https://github.com/sdsc-hpc-training-org/hello_icicle_auth_clients.git
[submodule "tapis-deployer"]
	path = tapis-deployer
	url = https://github.com/tapis-project/tapis-deployer.git
[submodule "PPOD_CA"]
	path = PPOD_CA
	url = https://github.com/PPODschema/PPOD_CA.git
[submodule "camera-traps"]
	path = camera-traps
	url = https://github.com/tapis-project/camera-traps.git
[submodule "event-engine"]
	path = event-engine
	url = https://github.com/tapis-project/event-engine.git
[submodule "harp"]
	path = harp
	url = https://github.com/ICICLE-ai/harp.git
[submodule "CI-Components-Catalog"]
	path = CI-Components-Catalog
	url = https://github.com/ICICLE-ai/CI-Components-Catalog.git
[submodule "ICICLE_Foodshed_Parser"]
	path = ICICLE_Foodshed_Parser
	url = https://github.com/ICICLE-ai/ICICLE_Foodshed_Parser.git
