[submodule "hello_icicle_auth_clients"]
	path = hello_icicle_auth_clients
	url = https://github.com/sdsc-hpc-training-org/hello_icicle_auth_clients.git
[submodule "tapis-deployer"]
	path = tapis-deployer
	url = https://github.com/tapis-project/tapis-deployer.git
[submodule "PPOD_CA"]
	path = PPOD_CA
	url = https://github.com/PPODschema/PPOD_CA.git
